@{
    string userName = User.Identity.Name;
    var userRepository = new BugTracker.MyHelpers.DB_Repositories.UserRepository(new BugTracker.Models.ApplicationDbContext());

    ViewBag.UserDisplayName = userRepository.GetUserByUserName(userName)?.DisplayName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(@"~/fonts-google")
    @Styles.Render(@"~/font-awesome")
    @Styles.Render(@"~/Content/css")
    @Styles.Render(@"~/Template/css")
    @Styles.Render(@"~/MyContent/css")
    @Scripts.Render(@"~/bundles/modernizr")
</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="" data-image="@Url.Content("~/Template/assets/img/sidebar-5.jpg")">
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple
                Tip 2: you can also add an image using data-image tag

            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    @*Update Link*@
                    <a href="#" class="simple-text">
                        Bug Tracker
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        @*Update Link*@
                        <a href="/">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    @* Don't even need to check if the user is logged in because it will redirect to login page *@
                    @*@if (!User.Identity.IsAuthenticated)
                        {*@
                    <li>
                        @*Update Link*@
                        <a href="@Url.Action("Index", "Manage")">
                            <i class="pe-7s-user"></i>
                            <p>
                                User Profile
                                @if (User.Identity.IsAuthenticated && (ViewBag.UserDisplayName is string) && !string.IsNullOrWhiteSpace((string)(ViewBag.UserDisplayName)))
                                {
                                    <br />
                                    <small>(@ViewBag.UserDisplayName)</small>
                                }
                            </p>
                        </a>
                    </li>
                    @*}*@

                    <li>
                        @*Update Link*@
                        <a href="./Template/table.html">
                            <i class="pe-7s-note2"></i>
                            <p>Table List</p>
                        </a>
                    </li>
                    <li>
                        @*Update Link*@
                        <a href="./Template/typography.html">
                            <i class="pe-7s-news-paper"></i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li>
                        @*Update Link*@
                        <a href="./Template/icons.html">
                            <i class="pe-7s-science"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li>
                        @*Update Link*@
                        <a href="./Template/maps.html">
                            <i class="pe-7s-map-marker"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        @*Update Link*@
                        <a href="./Template/notifications.html">
                            <i class="pe-7s-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--
                        @*Update Link*@
                        <a class="navbar-brand" href="#">Dashboard</a>
                        -->
                    </div>
                    <div class="collapse navbar-collapse">
                        <!--
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                @*Update Link*@
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                        </ul>
                        -->
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>


            <footer class="footer">
                @*<div class="container-fluid">*@
                <div>
                    <nav class="pull-left">
                        <ul>
                            <li>
                                @*Update Link*@
                                <a href="#">
                                    Home
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        @*Update Link*@
                        &copy; @DateTime.Now.Year <a href="#">Bug Tracker</a>, made for a better project management
                    </p>
                </div>
            </footer>
        </div>
    </div>


    @Scripts.Render(@"~/bundles/jquery")
    @Scripts.Render(@"~/bundles/bootstrap")
    @Scripts.Render(@"~/Template/js")
    @Scripts.Render(@"~/MyContent/js")
    @RenderSection("scripts", required: false)
</body>
</html>
