@model List<ProjectIndexViewModel>

@{
    ViewBag.Title = "All Projects";
}

@section Styles
{
    @Styles.Render(@"~/data-tables/css")
}

@section Scripts
{
    @Scripts.Render(@"~/data-tables/js")
    <script type="text/javascript" src="~/Scripts/MyScripts/DataTablesProjectAll.js"></script>

    <!--! testing out C# List to JavaScript array -->
    <script type="text/javascript">
        const testString = "@Html.Raw(Model[0].Name)";
        const testArray = @Html.Raw(Json.Encode(Model));
        console.log("This is my string (Model[0].Name)");
        console.log(testString);
        console.log("This is my array Model objects");
        console.log(testArray);
    </script>
}

<div>
    <div class="card">
        <div class="header">
            <h4 class="title">@ViewBag.Title</h4>
            <p class="category">
                <a href="@Url.Action(nameof(ProjectController.Create))">
                    Create New Project
                    <i style="position: relative; top: 5px; font-weight: 500; font-size:25px;"
                       class="pe-7s-note"></i>
                </a>
            </p>
        </div>
        <div class="content">
            @if (Model.Any())
            {
                <table id="all-projects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Name)
                            </th>
                            <th>
                                <i class="pe-7s-users" style="font-size:150%; font-weight: 600; position: relative; top: 3px;"></i>
                            </th>
                            <th>
                                <i class="pe-7s-ticket" style="font-size:150%; font-weight: 600; position: relative; top: 3px;"></i>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateUpdated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProjectIndexViewModel project in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => project.UsersCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => project.TicketCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => project.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => project.DateUpdated)
                                </td>
                                @*
                                    <td>
                                        @Html.ActionLink(nameof(ProjectController.Edit), nameof(ProjectController.Edit), new { id = project.Id }) |
                                        @Html.ActionLink(nameof(ProjectController.Details), nameof(ProjectController.Details), new { id = project.Id }) @*|
                                        @Html.ActionLink("Delete", "Delete", new { id = project.Id }) @
                                    </td>
                                *@
                                <td>
                                    <a class="small text-muted" href="@Url.Action(nameof(ProjectController.Edit), new { id = project.Id })">
                                        @nameof(ProjectController.Edit) <i style="font-size:150%; font-weight: 600; position: relative; top: 3px;"  class="pe-7s-tools"></i>
                                    </a>
                                    <div style="margin: 0px 6px;"></div>
                                    <a class="small text-muted" href="@Url.Action(nameof(ProjectController.Details), new { id = project.Id })">
                                        @nameof(ProjectController.Details) <i style="font-size:150%; font-weight: 600; position: relative; top: 3px;"  class="pe-7s-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

