@model ProjectCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section Styles
{
    <style type="text/css">
        #AddProjectCreatorToNewProject {
            opacity: 1;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-6">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    @ViewBag.Title
                </h4>
                <p class="category">
                    @* SUBTITLE HERE *@
                </p>
            </div>
            <div class="content">
                @* CONTENT HERE *@


                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>


                @* FOOTER HERE *@
                <div class="footer">
                    @*<div class="legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>*@
                    <hr />
                    <div class="stats">
                        <i style="font-size: 150%; font-weight: 600; position: relative; top:3.5px;" class="pe-7s-back"></i>
                        <span class="text-danger">Discard Draft</span> and Go To
                        [
                        <span>@Html.ActionLink("My Projects", nameof(ProjectController.Index), new { }, new { @class = "text-warning" })</span>

                        @if (User.IsInRole(nameof(UserRolesEnum.Admin)) || User.IsInRole(nameof(UserRolesEnum.ProjectManager)))
                        {
                            <span>| @Html.ActionLink("All Projects", nameof(ProjectController.All), new { }, new { @class = "text-warning" })</span>
                        }
                        ]
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Right Side Card-->
    <div class="col-lg-6">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    @ViewBag.Title (Manage Users)
                </h4>
                <p class="category">
                    @* SUBTITLE HERE *@
                    Assign initial users
                </p>
            </div>
            <div class="content">
                @* CONTENT HERE *@
                <div class="form-horizontal">

                    @if (Model.UsersAddList != null && Model.UsersAddList.Any())
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.SelectedUsersToAdd, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(model => model.SelectedUsersToAdd, Model.UsersAddList, new { size = 8, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SelectedUsersToAdd, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}