@model List<HelperUserViewModel>

@{
    ViewBag.Title = "All Users";
}

@section Styles
{
    @Styles.Render(@"~/data-tables/css")
}

@section Scripts
{
    @Scripts.Render(@"~/data-tables/js")
    <script type="text/javascript" src="~/Scripts/MyScripts/DataTablesProjectIndex.js"></script>
}

<div>
    <div class="card">
        <div class="header">
            <h4 class="title">@ViewBag.Title</h4>
            <p class="category">
                @* Category *@
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="content">
            @if (Model?.Any() ?? false)
            {
                <h6 style="margin-bottom: 15px;">Demo-Users are not shown (No one can change a demo user's roles)</h6>
                <table id="my-projects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DisplayName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Roles)
                            </th>
                            <th><i style="font-size: 16px; font-weight: 600;" class="pe-7s-gleam"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (HelperUserViewModel user in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => user.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => user.Email)
                                </td>
                                <td>
                                    <span style="font-family:'Franklin Gothic'">@string.Join(", ", user.Roles.Select(role => role.Name))</span>
                                </td>
                                <td>
                                    <a href="@Url.Action(nameof(UserRoleController.ManageRoles), new { id = user.Id })" class="small text-muted edit-link">
                                        <i style="font-size: 150%; font-weight: 600; position: relative; top:3.5px;" class="pe-7s-key"></i> Manage Roles
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-danger">Error no users found</p>
            }
        </div>
    </div>
</div>


