@model HomeIndexViewModel
@{
    ViewBag.Title = "Dashboard";
}

@section Styles
{
    <style>
        #project-link {
            color: gray;
        }

            #project-link:hover {
                color: ButtonText;
            }
    </style>
}

<div class="row">
    <!-- [Widget]:My Assigned Projects -->
    @if (Model.LatestProjects != null)
    {
        <div @*class="col-lg-4"*@ class="col-lg-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Assigned Projects</h4>
                    <p class="category">@(Model.LatestProjects.Any() ? $"Here are your {Model.LatestProjects.Count} latest projects" : "")</p>
                </div>
                <div class="content">
                    @if (Model.LatestProjects.Any())
                    {
                        foreach (ProjectIndexViewModel project in Model.LatestProjects)
                        {
                            <!--TODO: style bug -> when user clicks this link, the _Layout.cshtml page doesn't update the nav-links-->
                            <div style="font-size: 16px;">
                                <a id="project-link" href="@Url.Action(nameof(ProjectController.Details), "Project", new { Id = project.Id })">
                                    @project.Name - <i style="font-size: 85%;" class="fa fa-history"></i>
                                    <span style="font-size: 75%;" class="small">
                                        @(project.DateUpdated.HasValue ? project.DateUpdated.Value.GetDateTimeFromNow() : project.DateCreated.GetDateTimeFromNow())
                                    </span>
                                </a>
                            </div>
                        }

                        <div class="footer">
                            @*
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Open
                                    <i class="fa fa-circle text-danger"></i> Bounce
                                    <i class="fa fa-circle text-warning"></i> Unsubscribe
                                </div>
                            *@
                            <hr>
                            <div class="stats">
                                @if (Model.TotalProjectCount > 0)
                                {
                                    <i style="font-size: 125%; font-weight: 500; position: relative; top: 3px;" class="pe-7s-folder"></i>
                                    <a href="@Url.Action(nameof(ProjectController.Index), "Project")">
                                        <span>You currently are assigned to @Model.TotalProjectCount @(Model.TotalProjectCount > 1 ? $"projects" : "project")</span>
                                    </a>
                                }
                            </div>

                        </div>
                    }
                    else
                    {
                        <p class="text-warning">You have no assigned projects</p>
                    }
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(nameof(UserRolesEnum.Submitter)))
    {
        <!-- [Widget]:Created Tickets -->
        <div class="col-lg-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Created Tickets</h4>
                    <p class="category">
                        @Model.LatestCreatedTickets.Count of your latest created @(Model.TotalCreatedTicketCount > 1 ? $"tickets" : "ticket")
                    </p>
                </div>
                <div class="content">
                    @if (Model.LatestCreatedTickets.Any())
                    {
                        foreach (TicketIndexViewModel ticket in Model.LatestCreatedTickets)
                        {
                            <!--TODO: style bug -> when user clicks this link, the _Layout.cshtml page doesn't update the nav-links-->
                            <div style="font-size: 16px;">
                                <a id="project-link" href="@Url.Action(nameof(TicketController.Details), "Ticket", new { Id = ticket.Id })">
                                    @ticket.Title - <i style="font-size: 85%;" class="fa fa-history"></i>
                                    <span style="font-size: 75%;" class="small">
                                        @(ticket.DateUpdated.HasValue ? ticket.DateUpdated.Value.GetDateTimeFromNow() : ticket.DateCreated.GetDateTimeFromNow())
                                    </span>
                                </a>
                            </div>
                        }

                        <div class="footer">
                            <hr />
                            <div class="stats">
                                @if (Model.TotalCreatedTicketCount > 0)
                                {
                                    <i style="font-size: 125%; font-weight: 500; position: relative; top: 3px;" class="pe-7s-ticket"></i>
                                    <a href="@Url.Action(nameof(ProjectController.Index), "ticket", new { whatTickets = "Created" })">
                                        <span>
                                            View the @Model.TotalCreatedTicketCount @(Model.TotalCreatedTicketCount > 1 ? $"tickets" : "ticket") that you have created
                                        </span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-warning">You haven't created a ticket yet</p>
                    }
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(nameof(UserRolesEnum.Developer)))
    {
        <!-- [Widget]:Assigned Tickets -->
        <div class="col-lg-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Assigned Tickets</h4>
                    <p class="category">
                        @Model.LatestAssignedTickets.Count of your latest assigned @(Model.TotalAssignedTicketCount > 1 ? $"tickets" : "ticket")
                    </p>
                </div>
                <div class="content">
                    @if (Model.LatestAssignedTickets.Any())
                    {
                        foreach (TicketIndexViewModel ticket in Model.LatestAssignedTickets)
                        {
                            <!--TODO: style bug -> when user clicks this link, the _Layout.cshtml page doesn't update the nav-links-->
                            <div style="font-size: 16px;">
                                <a id="project-link" href="@Url.Action(nameof(TicketController.Details), "Ticket", new { Id = ticket.Id })">
                                    @ticket.Title - <i style="font-size: 85%;" class="fa fa-history"></i>
                                    <span style="font-size: 75%;" class="small">
                                        @(ticket.DateUpdated.HasValue ? ticket.DateUpdated.Value.GetDateTimeFromNow() : ticket.DateCreated.GetDateTimeFromNow())
                                    </span>
                                </a>
                            </div>
                        }

                        <div class="footer">
                            <hr />
                            <div class="stats">
                                @if (Model.TotalAssignedTicketCount > 0)
                                {
                                    <i style="font-size: 125%; font-weight: 500; position: relative; top: 3px;" class="pe-7s-ticket"></i>
                                    <a href="@Url.Action(nameof(ProjectController.Index), "ticket", new { whatTickets = "Assigned" })">
                                        <span>
                                            View the @Model.TotalAssignedTicketCount @(Model.TotalAssignedTicketCount > 1 ? $"tickets" : "ticket") that you are assigned to
                                        </span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-warning">You aren't assigned to any tickets yet</p>
                    }
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(nameof(UserRolesEnum.Admin)) || User.IsInRole(nameof(UserRolesEnum.ProjectManager)))
    {
        <!-- [Widget]:Admin/ProjectManager Card -->
        <div class="col-lg-5">
            <div class="card">
                <div class="header">
                    <h4 class="title">Bug Tracker Stats</h4>
                    <p class="category">
                        
                    </p>
                </div>
                <div class="content">
                    <div class="footer" style="display: flex; flex-flow: row wrap;">
                        <div style="flex-basis: 50%">
                            <h5 style="margin-bottom: 5px;">Tickets</h5>
                            <div class="legend text-uppercase" style="font-weight: 600;">
                                <span>
                                    <i class="fa fa-circle text-primary"></i> - Total :
                                    <span style="font-size: 125%;">@(Model.AllOpenTicketsCount + Model.AllResovledTicketsCount + Model.AllRejectedTicketsCount)</span>
                                </span>
                                <span>
                                    <i class="fa fa-circle text-success"></i> - Open :
                                    <span style="font-size: 125%;">@Model.AllOpenTicketsCount</span>
                                </span>
                                <span>
                                    <i class="fa fa-circle text-info"></i> - Resolved :
                                    <span style="font-size: 125%;">@Model.AllResovledTicketsCount</span>
                                </span>
                                <span>
                                    <i class="fa fa-circle text-danger"></i> - Rejected :
                                    <span style="font-size: 125%;">@Model.AllRejectedTicketsCount</span>
                                </span>
                            </div>
                        </div>
                        <div style="flex-basis: 50%">
                            <h5 style="margin-bottom: 5px;">Projects</h5>
                            <div class="legend text-uppercase" style="font-weight: 600;">
                                <span>
                                    <i class="fa fa-circle text-primary"></i> - Total :
                                    <span style="font-size: 125%;">@Model.AllProjectCount</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- [Widget]:2014 Sales -->
    <!--
    <div class="col-lg-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">2014 Sales</h4>
                <p class="category">All products including Taxes</p>
            </div>
            <div class="content">
                @*<div id="chartActivity" class="ct-chart"></div>*@
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Tesla Model S
                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-check"></i> Data information certified
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- [Widget]:Tasks -->
    <!--
    <div class="col-lg-6">

        @* Tasks Header *@
        <div class="card ">
            <div class="header">
                <h4 class="title">Tasks</h4>
                <p class="category">Backend development</p>
            </div>

            @* Tasks Content *@
            <div class="content">
                <div class="table-full-width">
                    <table class="table">
                        <tbody>

                            @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                </td>
                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                            @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox2" type="checkbox" checked>
                                        <label for="checkbox2"></label>
                                    </div>
                                </td>
                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                            @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                </td>
                                <td>
                                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                            @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox4" type="checkbox" checked>
                                        <label for="checkbox4"></label>
                                    </div>
                                </td>
                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                            @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox5" type="checkbox">
                                        <label for="checkbox5"></label>
                                    </div>
                                </td>
                                <td>Read "Following makes Medium better"</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                             @* Task *@
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox6" type="checkbox" checked>
                                        <label for="checkbox6"></label>
                                    </div>
                                </td>
                                <td>Unfollow 5 enemies from twitter</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* Tasks Footer *@
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
