@model List<TicketIndexViewModel>

@{
    ViewBag.Title = "Tickets";
}

@section Styles
{
    @Styles.Render(@"~/data-tables/css")
}

@section Scripts
{
    @Scripts.Render(@"~/data-tables/js")
    <script type="text/javascript" src="~/Scripts/MyScripts/DataTablesProjectIndex.js"></script>
}

<div>
    <div class="card">
        <div class="header">
            <h4 class="title">@ViewBag.Title</h4>
            <p class="category">
                @if (User.IsInRole(nameof(UserRolesEnum.Submitter)))
                {
                    @*
                        <a href="@Url.Action(nameof(TicketController.Create))">
                            Create New Ticket
                            <i style="position: relative; top: 5px; font-weight: 500; font-size:25px;" class="pe-7s-note"></i>
                        </a>
                    *@
                }
            </p>
        </div>
        <div class="content">
            @if (Model.Any())
            {
                <table id="my-projects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Priority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateUpdated)
                            </th>
                            <!--
                                    <th>
                                        @@Html.DisplayNameFor(model => model[0].AuthorName)
                                    </th>
                                    <th>
                                        @@Html.DisplayNameFor(model => model[0].AssignedUserName)
                                    </th>
                                -->
                            <th>
                                @Html.DisplayNameFor(model => model[0].ProjectName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TicketIndexViewModel ticket in Model)
                        {
                            <tr>
                                <td>
                                    @ticket.Title
                                </td>
                                <td>
                                    @ticket.Priority
                                </td>
                                <td>
                                    @ticket.Type
                                </td>
                                <td>
                                    @ticket.Status
                                </td>
                                <td>
                                    @ticket.DateCreated.ToShortDateString()
                                </td>
                                <td>
                                    @(ticket.DateUpdated?.ToShortDateString())
                                </td>
                                <!--
                                        <td>
                                            @@ticket.AuthorName
                                        </td>
                                        <td>
                                            @@ticket.AssignedUserName
                                        </td>
                                    -->
                                <td>
                                    @ticket.ProjectName
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", nameof(TicketController.Edit), new { Id = ticket.Id })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-danger">You have no tickets</p>
            }
        </div>
    </div>
</div>


