@model List<TicketIndexViewModel>

@{
    ViewBag.Title = "All Tickets";
    if (!string.IsNullOrWhiteSpace((string)ViewBag.whatTickets))
    {
        ViewBag.Title = $"{ViewBag.whatTickets} Tickets";
    }
}

@section Styles
{
    @Styles.Render(@"~/data-tables/css")
}

@section Scripts
{
    @Scripts.Render(@"~/data-tables/js")
    <script type="text/javascript" src="~/Scripts/MyScripts/DataTablesProjectIndex.js"></script>
}

<div>
    <div class="card">
        <div class="header">
            <h4 class="title">@ViewBag.Title</h4>
            <p class="category">
                @if (User.IsInRole(nameof(UserRolesEnum.Submitter)))
                {
                    <a href="@Url.Action(nameof(TicketController.Create))">
                        Create New Ticket
                        <span style="position: relative; right: 10px;">
                            <i style="position: relative; top: -10px; left: 10px; font-size: 100%; font-weight: 600;" class="pe-7s-plus"></i>
                            <i style="position: relative; top: 5px; font-weight: 500; font-size: 175%;" class="pe-7s-ticket"></i>
                        </span>
                    </a>
                }
            </p>
            <div style="margin-top: 15px;">
                @{
                    #region Ticket Filters
                    bool isDeveloper = User.IsInRole(nameof(UserRolesEnum.Developer));
                    bool isSubmitter = User.IsInRole(nameof(UserRolesEnum.Submitter));

                    if (isSubmitter || isDeveloper)
                    {
                        <span>[</span>
                        <a class="small text-muted" href="@Url.Action(nameof(TicketController.Index), new { whatTickets = "" })">
                            View All Tickets
                        </a>
                        if (isSubmitter)
                        {
                            <span>|</span>
                            <a class="small text-muted" href="@Url.Action(nameof(TicketController.Index), new { whatTickets = "Created" })">
                                View My Created Tickets
                            </a>
                            if (!isDeveloper)
                            {
                                <span>]</span>
                            }
                        }

                        if (isDeveloper)
                        {
                            <span>|</span>
                            <a class="small text-muted" href="@Url.Action(nameof(TicketController.Index), new { whatTickets = "Assigned" })">
                                View My Assigned Tickets
                            </a>
                            <span>]</span>
                        }
                    }
                    #endregion
                }
            </div>
        </div>
        <div class="content">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @if (Model.Any())
            {
                <table id="my-projects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Priority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].DateUpdated)
                            </th>
                            <!--
                                <th>
                                    @@Html.DisplayNameFor(model => model[0].AuthorName)
                                </th>
                                <th>
                                    @@Html.DisplayNameFor(model => model[0].AssignedUserName)
                                </th>
                            -->
                            <th><i style="font-size: 16px; font-weight: 600;" class="pe-7s-link"></i></th>
                            <th><i style="font-size: 16px; font-weight: 600;" class="pe-7s-comment"></i></th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].ProjectName)
                            </th>
                            <th><i style="font-size: 16px; font-weight: 600;" class="pe-7s-gleam"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TicketIndexViewModel ticket in Model)
                        {
                            bool canEditTicket = User.IsInRole(nameof(UserRolesEnum.Admin)) ||
                                        User.IsInRole(nameof(UserRolesEnum.ProjectManager)) ||
                                        (User.IsInRole(nameof(UserRolesEnum.Submitter)) && ticket.IsCurrentUserTheAuthorOrIsAssigned) ||
                                        (User.IsInRole(nameof(UserRolesEnum.Developer)) && ticket.IsCurrentUserTheAuthorOrIsAssigned);
                            <tr>
                                <td style="font-family: 'Segoe UI'; font-weight: 600">@ticket.Title</td>
                                <td style="font-family: Bahnschrift; font-weight: 700">@ticket.Priority</td>
                                <td style="font-family: Bahnschrift; font-weight: 400">@ticket.Status</td>
                                <td style="font-family: Bahnschrift; font-weight: 100">@ticket.Type</td>
                                <td class="small">@ticket.DateCreated.ToShortDateString()</td>
                                <td class="small">@(ticket.DateUpdated?.ToShortDateString())</td>
                                <!--
                                    <td>
                                        @@ticket.AuthorName
                                    </td>
                                    <td>
                                        @@ticket.AssignedUserName
                                    </td>
                                -->
                                <td>@ticket.AttachmentCount</td>
                                <td>@ticket.CommentCount</td>
                                <td class="small" style="font-family: 'Segoe UI'; font-weight: 600">
                                    @ticket.ProjectName
                                </td>
                                <td>
                                    @if (canEditTicket)
                                    {
                                        <a class="small text-muted edit-link" href="@Url.Action(nameof(TicketController.Edit), new { Id = ticket.Id })">
                                            @nameof(ProjectController.Edit) <i style="font-size:150%; font-weight: 600; position: relative; top: 3px;" class="pe-7s-tools"></i>
                                        </a>
                                        <div style="margin: 0px 6px;"></div>
                                    }
                                    <a class="small text-muted" href="@Url.Action(nameof(TicketController.Details), new { Id = ticket.Id })">
                                        @nameof(ProjectController.Details) <i style="font-size:150%; font-weight: 600; position: relative; top: 3px;" class="pe-7s-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-danger">You have no tickets</p>
            }
        </div>
    </div>
</div>


